<ion-view view-title="Your Form Completed">

    <ion-content>
        <div class="guide-text">
            Your form has been completed. Please send it to your Doctor.
            You will see emails of your contacts automatically.
        </div>

        <input type="email" placeholder="Email of your Doctor" class="full-input-text" style="margin-top:10vh"/>
        <div class="signin-button" style="margin-top: 10vh; background-color: #3498db;" ng-click="gotoMyForms()">
            Submit
        </div>
    </ion-content>
</ion-view>