<ion-view view-title="My Forms" hide-back-button="true">
    
  <ion-nav-buttons side="left">
    <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
    </button>
  </ion-nav-buttons>

  <ion-nav-buttons side="right">
    <button class="button button-icon" ui-sref="app.select_patient_form" style="">
        New Form
    </button>
  </ion-nav-buttons>
  <ion-content>

    <input class="search-input-text" type="search" placeholder="Search" />
    <div class="filter-div">
        <div class="filter-forms-text">
            Filter By:
        </div>

        <div style="width:50vw;">
            <label class="item item-input item-select filter-forms">
                <select style="color: #3cb0b8; max-width: 100%; font-size:2.5vw !important;">
                    <option selected="selected">All</option>
                    <option>Draft</option>
                    <option>Pending</option>
                    <option>Sent</option>
                </select>
            </label>
        </div>

        <div class="filter-forms-text">
            Order By:
        </div>

        <div style="width:50vw;">
            <label class="item item-input item-select filter-forms">
                <select style="color: #3cb0b8; max-width: 100%; font-size:2.5vw !important;">
                    <option selected="selected">Date</option>
                    <option>Client</option>
                    <option>Status</option>
                    <option>Last Opened</option>
                </select>
            </label>
        </div>
    </div>

    <div class="card card-source forms-div" ng-click="gotoSelectPatientForm()">
        <div class="form-name-text">Form1</div>
        <div class="doctor-name">Anuj Varshney</div>
        <div class="created-at">Last opened : 04/08/2017 08:00AM</div>
        <img class="sent-image" src="img/sent.png"/>
        <img class="delete-image" src="img/delete.png"/>    
    </div>

    <div class="card card-source forms-div" ng-click="gotoSelectPatientForm()">
        <div class="form-name-text">Form2</div>
        <div class="doctor-name">Anuj Varshney</div>
        <div class="created-at">Last opened : 04/08/2017 08:00AM</div>
        <!-- <img class="sent-image" src="img/sent.png"/> -->
        <img class="delete-image" src="img/delete.png"/>    
    </div>

    <div class="card card-source forms-div" ng-click="gotoSelectPatientForm()">
        <div class="form-name-text">Form3</div>
        <div class="doctor-name">Anuj Varshney</div>
        <div class="created-at">Last opened : 04/08/2017 08:00AM</div>
        <!-- <img class="sent-image" src="img/sent.png"/> -->
        <img class="delete-image" src="img/delete.png"/>    
    </div>

    <div class="card card-source forms-div" ng-click="gotoSelectPatientForm()">
        <div class="form-name-text">Form4</div>
        <div class="doctor-name">Anuj Varshney</div>
        <div class="created-at">Last opened : 04/08/2017 08:00AM</div>
        <!-- <img class="sent-image" src="img/sent.png"/> -->
        <img class="delete-image" src="img/delete.png"/>    
    </div>

    <div class="card card-source forms-div" ng-click="gotoSelectPatientForm()">
        <div class="form-name-text">Form5</div>
        <div class="doctor-name">Anuj Varshney</div>
        <div class="created-at">Last opened : 04/08/2017 08:00AM</div>
        <!-- <img class="sent-image" src="img/sent.png"/> -->
        <img class="delete-image" src="img/delete.png"/>    
    </div>

    <div class="card card-source forms-div" ng-click="gotoSelectPatientForm()">
        <div class="form-name-text">Form6</div>
        <div class="doctor-name">Anuj Varshney</div>
        <div class="created-at">Last opened : 04/08/2017 08:00AM</div>
        <img class="sent-image" src="img/sent.png"/>
        <img class="delete-image" src="img/delete.png"/>    
    </div>

    <div class="card card-source forms-div" ng-click="gotoSelectPatientForm()">
        <div class="form-name-text">Form7</div>
        <div class="doctor-name">Anuj Varshney</div>
        <div class="created-at">Last opened : 04/08/2017 08:00AM</div>
        <img class="sent-image" src="img/sent.png"/>
        <img class="delete-image" src="img/delete.png"/>    
    </div>

    <div class="card card-source forms-div" ng-click="gotoSelectPatientForm()">
        <div class="form-name-text">Form8</div>
        <div class="doctor-name">Anuj Varshney</div>
        <div class="created-at">Last opened : 04/08/2017 08:00AM</div>
        <img class="sent-image" src="img/sent.png"/>
        <img class="delete-image" src="img/delete.png"/>    
    </div>

    <div class="card card-source forms-div" ng-click="gotoSelectPatientForm()">
        <div class="form-name-text">Form9</div>
        <div class="doctor-name">Anuj Varshney</div>
        <div class="created-at">Last opened : 04/08/2017 08:00AM</div>
        <!-- <img class="sent-image" src="img/sent.png"/> -->
        <img class="delete-image" src="img/delete.png"/>    
    </div>

  </ion-content>
</ion-view>














